.my-stuff-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    position: sticky;
    top: 0;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $anchors-color;
       
        .heart:hover {
            background-color: #ffa8a8;
            color: #ff3333; 
            transition: 0.5s;
            
        }

        .horse:hover {
            background-color: #99c3bb;
            color: #19efc7;
            transition: 0.5s;
        }

        .bookmark:hover {
            background-color: #6a76d1;
            color: #000be5;
            transition: 0.5s;
        }

        .dots:hover {
            background-color: #777777;
            transition: 0.5s;
        }
    }

}