  .aside-derecho{
    .list-group-news{
      background-color: #f9fafa;
  }
  
  .list-group-news a:hover{
      background-color: white;
  }
  
  .footer a{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      color: black;
      text-decoration: none;                
  }
  
  .comments{
      font-size: 90%;
      color: gray
      
  }
  }

  