  /*aside 2 article*/
  .aside-2{
    list-style:none;
  }
  .a-2, .art-autor{
    padding:5%;
  }
  .info-xtra-autor, .art-autor{
    background-color:  #fafafa;
    padding:5%;
  }
  /*aside 2 article*/
  .header-c {
    max-width: 100wv;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }


  