.header-fluid{
    background-color: white;
}
.profile1{
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.search-bar{
    position: absolute;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b5bdc4;
}

.top-header{
    max-height: 60px;
    background-color: white;
   

}
.logo{
    height: 30px;
}
.btn{
    background-color: #4150f5;
    color: white;
    .save-key{
        color: black;
        &:active{
            color: black;
        }
        &:visited{
            color: black;
        }
    }
}

.dropbtn {
    height: 30px;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    right: 10px;
    box-shadow: 10px 10px 0px 0px black;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 1px solid black;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .right{
      position: relative;
  }

  .emmanuel-pic{
      position: absolute;
      height: 30px;
      border-radius: 50%;
      right: 3px;
      top: 3px;
      z-index: 1;
  }

  .button-more {
      color: grey;
      border: none;
  }