#savedCards {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 0 1px $box-shadow;
}

.saved-card {
  h1 {
    line-height: 18px;
    a {
      font-size: 18px;
      font-weight: bold;      
    }
  }

  .name {
    a {
      font-weight: bold;
    }
  }

  a {
    color: #000000;
    font-size: 14px;
  }

  img {
    height: 30px;
    border-radius: 50%;
  }
}