// $font-family: 'Roboto', sans-serif;
$font-family: 'Source Sans Pro', sans-serif;
$color-black: #08090a;
$color-basea90:#363d44;
$color-link-var:#202428;
$color-tabs-unactive:#363d44;
$color-secundary:#4d5760;
$color-terciary:#64707d;
$color-title-hover:#8d95f2;
$backgrand-color-nav:rgba(59, 73, 223, 0.1);
$color-link-hover: #323ebe;
$color-button:#3b49df;
$color-title-darker:#1827ce;
$color-button-base:rgba(210, 214, 219, 1);
$color-button-hover:rgba(181, 189, 196, 1);
$color-hover-left:rgba(181, 189, 196, .1);
$color-body:rgba(238, 240, 241, 1);
$background: rgb(204, 209, 209);
$color: hsl(0, 0%, 26%);
$color-button-hover-aside_izq:rgba(8, 9, 10, 0.05);;
