#aside-izquierdo .profile {
  height: 60px;
  border-radius: 50%;
}

#aside-izquierdo .my-tags-list {
  height: 270px;
  overflow: scroll;
  width: 240px;
  overflow-x: hidden;
}

#aside-izquierdo .aside1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
  color: black;
  text-decoration: none;
}

#aside-izquierdo .merch-text {
  color: blue;
}

#aside-izquierdo li {
  text-decoration: none;
  color: black;
}

#aside-izquierdo img:hover {
  color: blue;
  pointer-events: visible;
}

#aside-izquierdo .merch {
  max-width: 240px !important;
  border-radius: 15px;
}

#aside-izquierdo a {
  color: black;
}

#aside-izquierdo a:hover {
  color: black;
  text-decoration: none;
  background-color: #d2d6db;
}

#aside-izquierdo details a:hover {
  background-color: #d2d6db;
}

#aside-izquierdo .rainbowdev {
  height: 25px;
}

#aside-izquierdo .list-aside {
  margin-bottom: 2vh;
}

.card-profiles {
  padding: 2rem;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  border-radius: 6px;
}

.card-profiles .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.card-profiles .profiles span {
  color: gray;
}

.card-profiles .profiles p {
  color: lightgray;
}

.card-profiles .profiles img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.hashtag {
  color: lightgrey;
}

.titulo-hashtag {
  color: gray;
  margin-right: 5px;
}

.titulo-hashtag:hover {
  color: black;
}

.p-profiles h2:hover {
  color: blue;
}

.card-reacciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.initial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: lightgray;
}

.initial-card .small {
  margin-right: 4px;
}

.final-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: lightgray;
}

.final-card .small {
  margin-right: 4px;
}

.tiempo-leido {
  color: lightgray;
}

.profiles p:hover {
  color: black;
}

.profiles span:hover {
  color: black;
}

/* <!--Nav y Footer-->
.nav-top{
    position: relative;
    .fa-dev{
        font-size: 45px; 
        color: black;
    }    
    .fa-dev:hover
        {
                color:$color-social_hover;
        }
    .form.control{
        border-color: gray;
    }
    .btn-primary{
        background-color: $color-button;
        border: none;
    }
    .btn-primary:hover{
        background-color: $color-button-hover;
    }
    .top-icons{
        img{
        width: 30px;
        height: 30px;
        }
    }
    .top-icons:hover{
        background-color: $color-hover;
    }
    .form-control:hover{
        border-color: gray;
    }
    .form-control:focus{
        border-color: $color-button;
        box-shadow: 1px 1px 0 $color-button;
    }
    .dropdown {
        display: inline-block;
        transition-delay: 3s;
      }
      .dropdown-content {
        display:none;
        top: 130%;
        right: 0%;
        min-width: 250px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        background-color: white;
        border:2px solid black;
        box-shadow: 4px 4px 0 black;
        transition-delay: 3s;
        }
      .dropdown:hover,.dropdown:active{
          .dropdown-content{
            display: block;
            visibility: visible;
            color:$color-textlink;
          }
      }
      .dropdown-item:hover{
        color:$color-textlink;
    }
}
*/
/*# sourceMappingURL=style.css.map */